{{#if invoice.notes}}
    <div class="notes-section">
        <div class="section-title">Notes</div>
        <div class="notes-content">
            {{invoice.notes}}
        </div>
    </div>
{{/if}}